# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Dragon vs hero.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\gears\OneDrive\Plocha\Dragon vs heroe\.idea\.idea.Dragon vs hero\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
